@using WMarket.Models
@{
    ViewBag.Title = "Admin";
    List<Producto> listaProd = ViewData["ListaProductos"] as List<Producto>;
    Usuario nUser = ViewData["Usuario"] as Usuario;
}

<h2>Tienda en Linea!</h2>
<h4>Bienvenido @nUser.NombreCompleto</h4>

<div id="Opciones" class="container">
    @{

        using (Html.BeginForm("Agregar", "Shop", FormMethod.Post))
        {
            <form method="POST">
                <input type="submit" value="Agregar nuevo" />
            </form>
        }
    }

</div>
<br /><br />
<div id="Productos" class="container">
    @foreach (var item in listaProd)
    {

        using (Html.BeginForm("Detalles", "Shop", FormMethod.Post))
        {
            <div class="col-sm-3">
                <label>@item.Nombre</label><br />
                <label>Cantidad: @item.Cantidad</label> <br />
                <form method="POST">
                    @{
                        if (item.Activo == true)
                        {
                            Tuple<Producto, Usuario> nTupla = new Tuple<Producto, Usuario>(item, nUser);
                            @Html.ActionLink("Desactivar Producto", "DesactivarProducto", item)
                        }
                        else
                        {
                            Tuple<Producto, Usuario> nTupla = new Tuple<Producto, Usuario>(item, nUser);
                            @Html.ActionLink("Activar Producto", "DesactivarProducto", item)
                        }
                    }

                </form>
            </div>
                            }
                        }
</div>
<br /><br />
@Html.ActionLink("Salir", "LogOut", Session["user"] as Usuario)