@using WMarket.Models
@model Comentario
@{
    ViewBag.Title = "Comentarios";
    List<WMarket.Models.Comentario> lista = ViewData["listaComms"] as List<WMarket.Models.Comentario>;
    }

<div id="Comments" class="container">
    <h3>Comentarios</h3>
    @foreach (var comm in lista)
    {
        <div class="col-sm-3">
            <label>Titulo: </label>
            <text>@comm.Title</text><br />
            <label>Comentario: </label><br />
            <text>@comm.Detalle</text><br /><br />
        </div>

    }<br />
</div>
<br /><br /><br />
@{
    using (Html.BeginForm("AgregarComentario", "Shop", FormMethod.Post))
    {
        <div class="col-sm-12">
            <h4>Nuevo</h4>
            <form method="post">
                <label>Titulo: </label><br />
                @Html.TextBoxFor(m => m.Title)<br />
                <label>Detalle: </label><br />
                @Html.TextAreaFor(m => m.Detalle)<br /><br />
                <input type="submit" value="Agregar" />

            </form>
            
        </div>
        }
    }  
<br /><br />
@Html.ActionLink("Volver", "Detalles", Session["producto"] as Producto)     