
@{
    ViewBag.Title = "Detalle";
    WMarket.Models.Producto rProd = ViewData["ProdDetalles"] as WMarket.Models.Producto;
}

<h2>Detalle Producto</h2>

<div>
    <h4>@rProd.Nombre</h4><br />
    <label>Marca: @rProd.Marca</label><br />
    <label>Descripcion: </label><br />
    <textarea>@rProd.Descripcion</textarea><br />
    <label>Precio: @rProd.Precio</label><br />
    <label>Cantidad: @rProd.Cantidad</label><br />


</div>



