@using WMarket.Models
@{
    ViewBag.Title = "Index";
    List<Producto> listaProd = ViewData["ListaProductos"] as List<Producto>;
    Usuario nUser = ViewData["Usuario"] as Usuario;
}

@model WMarket.Models.Producto
<h2>Tienda en Linea!</h2>
<h4>Bienvenido @nUser.NombreCompleto</h4>

<div id="Productos" class="container">
    @foreach (var item in listaProd)
    {
        <div class="col-sm-3">
            <label style="text-align:center">@item.Nombre</label><br />
            <text>Cantidad: @item.Cantidad</text> <br /><br />
            @using (Html.BeginForm("DetallesProd", "Shop", FormMethod.Post))
            {

            <form method="POST">
                @Html.ActionLink("Detalles", "DetallesProd", item)
            </form>
            }
            <br />
            @using (Html.BeginForm("create", "Car", FormMethod.Post))
            {

                <form method="POST">
                    @Html.ActionLink("Agregar Carrito", "create", "Car", item, null)
                </form>
            }
        </div>
    
        
    }
</div>

<br /><br />
@Html.ActionLink("Salir", "LogOut", Session["user"] as Usuario)











     











