@using WMarket.Models
@{
    ViewBag.Title = "Registro";
    
}

@model WMarket.Models.Usuario


@{

    using (Html.BeginForm("Registrar", "Login", FormMethod.Post))
    {
        <h2>Registro</h2>
<form method="POST">
    <label>Nombre Completo: </label><br />
    @Html.TextBoxFor(m => m.NombreCompleto)<br />
    <label>Usuario</label><br />
    @Html.TextBoxFor(m => m.User)<br />
    <label>Contraseña</label><br />
    @Html.TextBoxFor(m => m.Contrasena)<br />
    <label>Teléfono</label><br />
    @Html.TextBoxFor(m => m.Telefono)<br />
    <label>Correo</label><br />
    @Html.TextBoxFor(m => m.Correo) <br />
    <label>Direccion</label><br />
    @Html.TextAreaFor(m => m.Direccion)<br />
    <label>Tipo de Cuenta</label><br />
    @Html.DropDownListFor(m => m.Admin,
        new List<SelectListItem>
        {
            new SelectListItem {Value = "False", Text = "Comprador" },
            new SelectListItem {Value = "True", Text = "Vendedor" }
        }) <br />
    
    <br />
    <input id="btnRegistro" type="submit" value="Registrarse" />
</form>
    }
}